script(src='/vendor/jquery/dist/jquery.js')
script(src='/vendor/foundation/js/foundation.min.js')
script(src='/vendor/angular/angular.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
script(src='/vendor/underscore/underscore.js')
script(src='/vendor/toastr/toastr.js')
script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
script(src='/vendor/ng-file-upload/angular-file-upload.min.js')

script(src='/config/toastr.js')
script(src='/index.js')
script(src='/components/factories/user.js')
script(src='/components/directives/ns-nav/ns-nav.js')
script(src='/views/users/users.js')

script.
  $(document).foundation();
